.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.container > * {
  padding:1em;
}

.flex-item {
    display:flex;
}

#menu {
display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}