
/* @media only screen and (min-device-width: 480px) { *\
  /* General styles */

.container {
    display:flex;
   flex-wrap:wrap;
    flex-direction:column;
    width:100%;
}

.container > * {
  padding:1em;
}


.flex-item {
  display:flex;
}



/* Header Class */

#header-container {
    display:flex;
   flex-wrap:wrap;
    flex-direction:column;
   /* width:100%; */
    justify-content:center;
    align-content:center;
    text-align:center;
}


#menu {
display: flex;
flex-flow: row wrap; 
  justify-content: flex-end;
}


#logo {
  flex:100%;
  margin:1em;
  justify-content:center;
  text-align:center;
  width:100%;
}

#titles {
  flex:100%;
  margin:1em;
  text-align:center;
}

#titles > h1 {
  font-size: 25px;
}

#titles > h2 {
  font-size: 20px;
}

#burger-menu {
  justify-content:center;
  align-self:center;
}


/* Style for containers that contain only text */


.text-container {
  display:flex;
  flex-wrap:wrap;
  margin-left: 5%;
  margin-right: 5%;
  text-align:justify;
  font-size:20px;
}


/* Style for "Click to View Specials" section */


#specials {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  margin-left: 5%;
  margin-right: 5%;
  text-align:left;
  padding:1em;
  border-style: solid; 
  border-width: 2px; 
  border-color:black;
  background-color:rgb(59, 24, 31);
}

#specials > *{
display:flex;
}

#specials > h1 {
font-size:  20px;
display:flex;
}


/* Style for each individual special block */


.ind-special {
display:flex;
}


/* Style for the overall Newest Additions section */

#newest > * {
  display:flex;
  flex-direction:column;
}

#newest > h1 {
  font-size: 23px;
}

/* Style for each individual product in "Newest Additions" */

.ind-newest {
  display:flex;
  margin:1em;
  margin-top:0px;
}

.ind-newest > img {
  max-width:250px;
}


.ind-newest > h2 {
font-size:20px;
}

.footer {
  display:flex;
}

/* } *\